# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SD-16\du_an_tot_nghiep\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
